/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.8rem/1.56 'Source Sans Pro', sans-serif;
  color: #332954;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
	font-weight: bold;
	line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.33;
  margin: 0.6rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Cover styles */
.cover {
  min-height: 100vh;
  background-color: #9de8eb;
  background: linear-gradient(to right, #9de8eb, rgba(157, 232, 235, 0.0)), url(../images/cover-photo.jpg) no-repeat right center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.cover-content {
  margin: -10% 10rem 0;
}

.cover-divider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
}

main {
  margin-bottom: 5.4rem;
  max-width: 69rem;
}

main p:first-of-type {
  margin: 2.5rem 0 0;
}


/* Navigation styles */
nav a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #332954;
  text-indent: -99999px;
  margin-right: 2rem;
  transition: transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
}

nav a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

nav :last-child {
  margin-right: 0;
}

nav .github {
  mask-image: url(../images/icons/github-icon.svg);
  -webkit-mask-image: url(../images/icons/github-icon.svg);
}

nav .linkedin {
  mask-image: url(../images/icons/linkedin-icon.svg);
  -webkit-mask-image: url(../images/icons/linkedin-icon.svg);
}

nav .twitter {
  mask-image: url(../images/icons/twitter-icon.svg);
  -webkit-mask-image: url(../images/icons/twitter-icon.svg);
}

nav .email {
  mask-image: url(../images/icons/email-icon.svg);
  -webkit-mask-image: url(../images/icons/email-icon.svg);
}


/* Project's section styles */
.projects {
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin: -10rem auto 16rem;
}

.project {
  width: 29.6rem;
  height: 30.8rem;;
  font-size: 1.7rem;
  line-height: 2.4rem;
  background: #fff;
  box-shadow: 0px 7px 14px rgba(51, 41, 84, 0.1);
  border-radius: 1.4rem;
  padding: 2.4rem;
  margin: 0 1.8rem;
}

.project-cover {
  position: relative;
  border-radius: .8rem;
  overflow: hidden;
  height: 11.2rem;
  width: 24.8rem;
}

.project-cover img {
  height: 11.2rem;
}

.project-cover::after {
  content: "";
  background-color: rgba(61, 49, 101, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project p {
  margin-top: 0;
}

.project h4 {
  margin: 1.9rem 0 0.4rem;
}

.project:nth-child(2n) {
  margin-top: 2.4rem;
}

.project:nth-child(2n+1) {
  margin-top: 4.8rem;
}

.project:first-child {
  margin-top: 0;
}

.project:last-child {
  margin-top: 7.2rem;
}


/* Footer styles */
footer {
  height: 33.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #3d3165;
}

footer .cover-divider {
  top: -32px;
}

.footer-content h3 {
  margin: 0;
}

.footer-content p {
  margin: 1.8rem 0 3.8rem;
}

.footer-content p a {
  color: #9de8eb;
  font-weight: bold;
}

.footer-content nav a {
  background: #fff; 
}


/* Media Queries */
@media screen and (max-width: 1000px) {
  .projects {
    justify-content: center;
  }

  .project:nth-child(3),
  .project:nth-child(5) {
    margin-top: 2.4rem;
  }

  .project:nth-child(4),
  .project:nth-child(6) {
    margin-top: 4.8rem;
  }
}

@media screen and (max-width: 670px) {
  html {
    font-size: 58%;
  }

  .cover-content {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 617px) {
  html {
    font-size: 55%;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  .project:nth-child(n) {
    margin-top: 2.4rem;
  }
}

@media screen and (max-width: 350px) {
  nav a {
    margin-right: 1rem;
  }
}

@media screen and (max-height: 420px) {
  html {
    font-size: 53%;
  }
  
  .cover {
    font-size: 1.2rem;
    margin-bottom: 7rem;
  }

  main {
    margin: 2rem 0 5rem;
  }
}