/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #9de8eb;
  background: linear-gradient(to right, #9de8eb, rgba(157, 232, 235, 0.0)), url(../images/cover-photo.jpg) no-repeat right center;
  background-size: cover;
  padding: 0 10rem;
  margin: 0;
}

.container {
  max-width: 69rem;
  font: 1.8rem/1.56 'Source Sans Pro', sans-serif;
  color: #333333;
}


/* Main styles */
main {
  margin-bottom: 10rem;
}

h1 {
  font-size: 4rem;
	font-weight: bold;
	line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.33;
  margin: 0.6rem 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p:first-of-type {
  margin: 2.5rem 0 0;
}


/* Navigation styles */
nav a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(../images/oval.svg);
  text-indent: -99999px;
  margin-right: 2rem;
}

nav :last-child {
  margin-right: 0;
}

nav .github {
  background-image: url(../images/github-icon.svg);
}

nav .linkedin {
  background-image: url(../images/linkedin-icon.svg);
}

nav .twitter {
  background-image: url(../images/twitter-icon.svg);
}

nav .email {
  background-image: url(../images/email-icon.svg);
}

/* Media Queries */
@media screen and (max-width: 670px) {
  html {
    font-size: 58%;
  }

  body {
    padding: 4rem;
    overflow-y: auto;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 53%;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  nav a {
    margin-right: 1rem;
  }
}